.venv/
__pycache__/
*.pyc
iris/src/models/*
!iris/src/models/yolov11n-face.pt
iris/src/output/
iris/captures/
*.jpg
*.jpeg
*.png
*.egg-info
.env
context/
context/
.env
*_insta_profile/
last_target.json
